.devices__image--container {
  display: flex;
  justify-content: center;
}

@include breakpoint-up(medium) {
  .devices__image {
    max-width: 80%;
  }
}

@include breakpoint-up(large) {
  .devices__image {
    max-width: 60%;
  }
}

.devices .devices__title {
  padding-bottom: 3.22rem;
}
