$cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$grayish-blue: hsl(201, 11%, 66%);
$dark-grayish-blue: hsl(210, 10%, 33%);

$ff-primary: "Bai Jamjuree", sans-serif;

$fw-400: 400;
$fw-600: 600;
